@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Italic;
  src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: Godham-Bold;
  src: url(../fonts/gothambold/gothambold1.ttf);
}
@font-face {
  font-family: Gotham-Medium;
  src: url(../fonts/gotham-medium-webfont.woff);
}
@font-face {
  font-family: Gotham-Medium;
  src: url(../fonts/Gotham-Medium.ttf);
}
@font-face {
  font-family: Gotham-Book;
  src: url(../fonts/GothamBook.ttf);
}
@font-face {
  font-family: Gotham-Book;
  src: url(../fonts/GothamBook.woff);
}
@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Italic;
  src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: Godham-Bold;
  src: url(../fonts/gothambold/gothambold1.ttf);
}
@font-face {
  font-family: Gotham-Medium;
  src: url(../fonts/gotham-medium-webfont.woff);
}
@font-face {
  font-family: Gotham-Medium;
  src: url(../fonts/Gotham-Medium.ttf);
}
@font-face {
  font-family: Gotham-Book;
  src: url(../fonts/GothamBook.ttf);
}
@font-face {
  font-family: Gotham-Book;
  src: url(../fonts/GothamBook.woff);
}
.HEADER {
  background: url(../images/2-layers.png) no-repeat center;
  background-size: cover;
}
.HEADER .ellipses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.HEADER .ellipses .ellips {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-bottom: 40px;
}
.HEADER .ellipses .ellips:hover {
  background-color: #ffffff;
}
.HEADER .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 60px 30px;
}
.HEADER .nav .menu__header {
  display: flex;
}
.HEADER .nav .menu__header a {
  flex-direction: row;
  color: #ffffff;
  font-family: "Gotham-Book", "GothamBook", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin-right: 70px;
  text-decoration: none;
  color: #fff;
}
.HEADER .nav .social-icons__header {
  display: inline-flex;
}
.HEADER .nav .social-icons__header .socIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
}
.HEADER .desc__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.HEADER .desc__header .title__header {
  color: #ffffff;
  font-family: "Gotham-Bold", "GothamBold", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 285px;
}
.HEADER .desc__header .subtitle__header {
  color: #ffffff;
  font-family: "Gotham-Book", "GothamBook", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  margin-top: 40px;
}
.HEADER .scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 230px;
  padding: 50px;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Italic;
  src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: Godham-Bold;
  src: url(../fonts/gothambold/gothambold1.ttf);
}
@font-face {
  font-family: Gotham-Medium;
  src: url(../fonts/gotham-medium-webfont.woff);
}
@font-face {
  font-family: Gotham-Medium;
  src: url(../fonts/Gotham-Medium.ttf);
}
@font-face {
  font-family: Gotham-Book;
  src: url(../fonts/GothamBook.ttf);
}
@font-face {
  font-family: Gotham-Book;
  src: url(../fonts/GothamBook.woff);
}
.whatWeDo {
  padding: 70px 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whatWeDo hr {
  width: 100px;
  height: 1px;
  background-color: #2c4058;
  margin: 100px 550px 40px 530px;
}
.whatWeDo .title__whatWeDo {
  color: #2c4058;
  font-family: "Gotham-Bold", "GothamBold", sans-serif;
  font-size: 44px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 100px;
}
.whatWeDo .left-article__whatWeDo {
  display: flex;
  justify-content: flex-start;
  max-width: 1600px;
  margin-bottom: 130px;
}
.whatWeDo .left-article__whatWeDo__img {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
}
.whatWeDo .left-article__whatWeDo__img__bg {
  width: 580px;
  height: 470px;
  background-color: #55b7ff;
  position: absolute;
  left: -215px;
  top: -70px;
  z-index: -2;
}
.whatWeDo .left-article__whatWeDo-text {
  padding-left: 70px;
}
.whatWeDo .left-article__whatWeDo-text-subtitle {
  color: #2c4058;
  font-family: "Gotham-Book", "GothamBook", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 20px;
}
.whatWeDo .left-article__whatWeDo-text-title {
  color: #2c4058;
  font-family: "Gotham-Bold", "GothamBold", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.whatWeDo .left-article__whatWeDo-text-desc {
  color: #4b5562;
  font-family: "OpenSans-Regular", "OpenSans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-bottom: 40px;
}
.whatWeDo .left-article__whatWeDo-text-btn {
  color: #2c4058;
  font-family: "Gotham-Book", "GothamBook", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  width: 190px;
  height: 50px;
  border: 1px solid #2c4058;
}
.whatWeDo .left-article__whatWeDo-text-coord {
  color: #2c4058;
  font-family: "OpenSans-Italic", "OpenSans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}
.whatWeDo .right-article__whatWeDo {
  display: flex;
  justify-content: flex-end;
  max-width: 1600px;
}
.whatWeDo .right-article__whatWeDo__img {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
}
.whatWeDo .right-article__whatWeDo__img__bg {
  width: 580px;
  height: 470px;
  background-color: #7e5aff;
  position: absolute;
  right: -215px;
  top: -70px;
  z-index: -2;
}
.whatWeDo .right-article__whatWeDo-text {
  padding-right: 70px;
}
.whatWeDo .right-article__whatWeDo-text-subtitle {
  color: #2c4058;
  font-family: "Gotham-Book", "GothamBook", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 20px;
}
.whatWeDo .right-article__whatWeDo-text-title {
  color: #2c4058;
  font-family: "Gotham-Bold", "GothamBold", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.whatWeDo .right-article__whatWeDo-text-desc {
  color: #4b5562;
  font-family: "OpenSans-Regular", "OpenSans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-bottom: 40px;
}
.whatWeDo .right-article__whatWeDo-text-btn {
  color: #2c4058;
  font-family: "Gotham-Book", "GothamBook", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  width: 190px;
  height: 50px;
  border: 1px solid #2c4058;
}
.whatWeDo .right-article__whatWeDo-text-coord {
  color: #2c4058;
  font-family: "OpenSans-Italic", "OpenSans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Italic;
  src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: Godham-Bold;
  src: url(../fonts/gothambold/gothambold1.ttf);
}
@font-face {
  font-family: Gotham-Medium;
  src: url(../fonts/gotham-medium-webfont.woff);
}
@font-face {
  font-family: Gotham-Medium;
  src: url(../fonts/Gotham-Medium.ttf);
}
@font-face {
  font-family: Gotham-Book;
  src: url(../fonts/GothamBook.ttf);
}
@font-face {
  font-family: Gotham-Book;
  src: url(../fonts/GothamBook.woff);
}
.news {
  background: url(../images/BgNews.png) no-repeat center;
  background-size: cover;
}
.news .conteiner {
  flex-direction: row;
}
.news .conteiner .news__card-one {
  width: 370px;
  height: 515px;
  flex: 1 1 30%;
  background-color: #fff;
}
.news .conteiner .news__card-one .news__card-one__img {
  background: url(../images/card1/Img.png) no-repeat center;
  background-size: cover;
}
.news .conteiner .news__card-one .news__card-one__autor .news__card-one__autor-photo {
  float: left;
}
.news .conteiner .news__card-one .news__card-one__autor .news__card-one__autor-name {
  color: #2c4058;
  font-family: "Gotham-Book", "GothamBook", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
}
.news .conteiner .news__card-one .news__card-one__autor .news__card-one__autor-data {
  color: #55b7ff;
  font-family: "Gotham-Book", "GothamBook", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: 22px;
  text-align: left;
  text-decoration: none;
}
.news .conteiner .news__card-two {
  width: 370px;
  height: 515px;
  flex: 1 1 30%;
  background-color: #fff;
}
.news .conteiner .news__card-two .news__card-two__img {
  background: url(../images/card2/matthew-hamilton-202227.png) no-repeat center;
  background-size: cover;
}
.news .conteiner .news__card-two .news__card-two__autor .news__card-two__autor-photo {
  float: left;
}
.news .conteiner .news__card-two .news__card-two__autor .news__card-two__autor-name {
  color: #2c4058;
  font-family: "Gotham-Book", "GothamBook", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
}
.news .conteiner .news__card-two .news__card-two__autor .news__card-two__autor-data {
  color: #55b7ff;
  font-family: "Gotham-Book", "GothamBook", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: 22px;
  text-align: left;
}
.news .conteiner .news__card-three {
  width: 370px;
  height: 515px;
  flex: 1 1 30%;
  background-color: #fff;
}
.news .conteiner .news__card-three .news__card-three__img {
  background: url(../images/card3/joel-filipe-151690.png) no-repeat center;
  background-size: cover;
}
.news .conteiner .news__card-three .news__card-three__autor .news__card-three__autor-photo {
  float: left;
}
.news .conteiner .news__card-three .news__card-three__autor .news__card-three__autor-name {
  color: #2c4058;
  font-family: "Gotham-Book", "GothamBook", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
}
.news .conteiner .news__card-three .news__card-three__autor .news__card-three__autor-data {
  color: #55b7ff;
  font-family: "Gotham-Book", "GothamBook", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: 22px;
  text-align: left;
}

.hovering {
  display: none;
}

.conteiner {
  max-width: 1170px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
