@import "fonts.scss";

.footer {
  position: relative;
  z-index: -1;
  top: -545px;
  background: url(../images/bgHeader.png) no-repeat center;
  background-size: cover;
  .conteiner {
    height: 520px;
    background-size: cover;
  }
}
