@import "fonts.scss";

.HEADER {
  background: url(../images/bgHeader.png) no-repeat center;
  background-size: cover;
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 60px 30px;
    flex-wrap: wrap;
    .menu__header {
      position: sticky;
      display: flex;
    }
    .menu__header a {
      flex-direction: row;
      color: #ffffff;
      font-family: $GothamBook;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      margin: 0 40px;
      text-decoration: none;
      color: #fff;
    }
    .menu__header a::before {
      content: "";
      width: 5px;
      height: 5px;
      border: 2px solid #fff;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px;
    }
    .menu__header a:hover::before {
      background-color: #fff;
    }
    .social-icons__header {
      display: inline-flex;
      .socIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;

        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;
      }
    }
  }
  .desc__header1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: move;
    .title__header {
      color: #ffffff;
      font-family: $GothamBold;
      font-size: 80px;
      font-weight: 700;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 285px;
    }
    .subtitle__header {
      color: #ffffff;
      font-family: $GothamBook;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 5.4px;
      margin-top: 40px;
    }
  }
  .desc__header2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: move;
    .title__header {
      color: #000000;
      font-family: $GothamBold;
      font-size: 80px;
      font-weight: 700;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 285px;
    }
    .subtitle__header {
      color: #000000;
      font-family: $GothamBook;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 5.4px;
      margin-top: 40px;
    }
  }
  .desc__header3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: move;
    .title__header {
      color: #ff0000;
      font-family: $GothamBold;
      font-size: 80px;
      font-weight: 700;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 285px;
    }
    .subtitle__header {
      color: #ff0000;
      font-family: $GothamBook;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 5.4px;
      margin-top: 40px;
    }
  }
  .desc__header4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: move;
    .title__header {
      color: #1100ff;
      font-family: $GothamBold;
      font-size: 80px;
      font-weight: 700;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 285px;
    }
    .subtitle__header {
      color: #1100ff;
      font-family: $GothamBook;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 5.4px;
      margin-top: 40px;
    }
  }

  .scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
    padding: 50px;
    cursor: pointer;
  }
  .scroll:hover {
    fill: #2c4058;
  }
  .slick-dots li {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 1000px;
    top: -25px;
    margin-top: 40px;
    margin-left: 110px;
    &.slick-active button:before {
      color: #ffffff;
      content: "•";
    }
  }
  .slick-dots li button:before {
    content: "⊙";
    font-size: 20px;
    line-height: 20px;
    color: #fff;
  }
}
