@import "fonts.scss";

.rightAll {
  background-color: #7e5aff;
  margin: 0 auto;
  .conteiner {
    .right-article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      &-img {
        margin-top: 50px;
      }
      &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
        &-subtitle {
          color: #2c4058;
          font-family: $GothamBook;
          font-size: 22px;
          font-weight: 400;
          text-align: center;
          text-transform: uppercase;
          margin-top: 60px;
          margin-bottom: 20px;
        }
        &-title {
          color: #2c4058;
          font-family: $GothamBold;
          font-size: 44px;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 40px;
        }
        &-desc {
          color: #4b5562;
          font-family: $openSans;
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          margin-bottom: 40px;
        }
        &-btn a {
          text-decoration: none;
          color: #2c4058;
          font-family: $GothamBook;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          margin-bottom: 60px;

          width: 190px;
          height: 50px;
          border: 1px solid #2c4058;
        }
        &-btn a:hover {
          background-color: #2c4058;
          color: #fff;
        }
        &-btn a:active {
          background-color: #0b79ff;
        }
        &-coord {
          color: #2c4058;
          font-family: $openSansL;
          font-size: 18px;
          line-height: 30px;
          text-align: center;
          margin-bottom: 200px;
        }
      }
    }
  }
}
