@import "fonts.scss";

.whatWeDo{
  hr{
  width: 100px;
  height: 1px;
  background-color: #2c4058;
  margin:100px 550px 40px 530px;
  }
  .title__whatWeDo{
color: #2c4058;
font-family: $GothamBold;
font-size: 44px;
line-height: 22px;
text-align: center;
text-transform: uppercase;
position: relative;
margin-bottom: 100px;
  }
  .behindColums{
    position: absolute;
  }
  .moreText{
    display: none;
  }
  .show{
    display: block;
  }
  .btn{
    border: 1px solid #000;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .column2__whatWeDo{
    .column2-subtitle__whatWeDo{
      color: #2c4058;
        font-family: $GothamBook;
        font-size: 22px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        text-transform: uppercase;
    }
        .column2-title__whatWeDo{
        color: #2c4058;
        font-family: $GothamBold;
        font-size: 44px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        text-transform: uppercase;
        }
          .desc_whatWeDo{
            color: #4b5562;
            font-family:$openSans;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            margin-top: 40px;
                    }
      }
}